NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=glassic_db

DATABASE_URL=postgresql://postgres:PASSWORD@maglev.proxy.rlwy.net:26180/railway?sslmode=require

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dmshentls
CLOUDINARY_API_KEY=567789432861236
CLOUDINARY_API_SECRET=tkRH04562dJETJCPFVkGc4YPqPQ