.ver-plano-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.orden-fabricacion-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error-message {
  color: #666;
  font-size: 16px;
  text-align: center;
}
